<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>myframework</display-name>
  
  <!-- Ne changez jamais cet champs, pour configurer la page d'acceuil, voir context-param -> home -->
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  
  <!-- URI du controlleur du page d'acceuil  -->
  <context-param>
  	<param-name>home</param-name>
  	<param-value>hello</param-value>
  </context-param>
  
  <!-- Type du SGBD, valeurs authorisés:  oracle, postgresql, mysql -->
  <context-param>
  	<param-name>db_driver</param-name>
  	<param-value>postgresql</param-value>
  </context-param>

  <!-- Nom du base des données -->
  <context-param>
  	<param-name>db_name</param-name>
  	<param-value>postgres</param-value>
  </context-param>

  <!-- Nom d'utilisateur du base des données -->
  <context-param>
	<param-name>db_user</param-name>
	<param-value>postgres</param-value>
  </context-param>

  <!-- Mot de passe d'utilisateur du base des données -->
  <context-param>
  	<param-name>db_password</param-name>
  	<param-value>mdpprom13</param-value>
  </context-param>

</web-app>